 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 } 
 /* google font */

  @import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&display=swap');


/*----------------------
 1st header styles 
 -----------------------*/

.header-title{
    margin-top: 50px;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.header-1-button {
    color: #424242;
    margin-top: 63px;
    font-weight: 500;
    font-size: 18px;
    list-style: none;
    display: flex;
    gap: 30px;
}

.first-header{
    display: flex;
    justify-content: space-around;
}

/* -----------------------
second header styles
----------------------- */
.header-container{
    margin: 230px;
    width: 862px;
    height: 225px;
}
.main {
    width: 75%;
}
.main-header{
    font-weight: 700;
    font-size: 64px;
    color: #131313;
    text-align: center;
}
.main-header-description{
    text-align: center;
    color: #727272;
}
.main-header-button{
    color:#FFFFFF;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    border: none;
    background-color: #FF900E;
    border-radius: 8px;
    width: 180px;
    height: 64px;
    margin-top: 32px;
    margin-bottom: 50px;
}
.flex{
    display: flex;
    justify-content: center;
}

/* ---------------------
header banner styles
--------------------- */

.header-banner img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    margin-bottom: 45px;
}
header{
    background-color: rgba(255, 144, 14, 0.1);
}

/* -------------------
main section styles
---------------------- */
.features-1{
    width: 537px;
    height: 304px;
}
.features{
    color: #727272;
    font-size: 16px;
}
.features-title{
    margin-bottom: 24px;
}
.main-img-1{
    width: 342px;
    height: 342px;
}
.main-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    margin-left: 200px;
    margin-right: 50px;
    margin-top: 130px;
}
.main{
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    margin-right: 150px;
}
/*------------------ 
main section 2 styles 
--------------------*/
.main-section{
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}
.main-body{
    font-weight: 600;
    font-size: 20px;
}
.main-body-description{
    color: #727272;
}
.main-body-container{
    margin: 150px;
    width: 75%;
    display: flex;
    margin-top: 169px;
    justify-content: center;
    align-items: center;
}
.write{
    margin: 30px;
}
.main-button{
    color: #FFFFFF;
    background-color: #FF900E;
    width: 300px;
    height: 150px;
    border: none;
    position: absolute;
    left: 500px;
    top: 3165px;
    border-radius: 7px;

}
.btn-des-1{
    font-weight: 700;
    font-size: 65px;
}
.btn-des-2{
    font-weight: 500;
    font-size: 25px;
}
.some-facts{
    margin-left: 150px;
    margin-right: 500px;
    margin-bottom: 100px;
}
.box{
    background-color: white;
    width: 169px;
    height: 136px;
    margin-left: 100px;
    border: 1px solid #FF900E;
    margin-bottom: 180px;
}
.box:hover{
    transform: scale(.75);
    transition: transform 2s ;
    background-color: antiquewhite;
}
.s-f{
    display: flex;
    justify-content: center;
}
.box-content{
    margin: auto;
}

/*---------------
 footer styles
----------------- */

.down-main-section{
    margin-left: 450px;
    margin-right: 450px;
    text-align: center;
    margin-bottom: 50px;
}
.footer{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 130px;
}
.footer>img{
    filter: grayscale(100%);
    margin-left: 50px;

}
.footer-text{
    color: #424242;
    font-size: 20px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.main-footer{
    background-color: #FFF4E7;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
}

@media only screen and (max-width: 576px) {
    .first-header{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
        text-align: center;
        padding: 30px;
    }
    .header-1-button {
        
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
        align-items: center;
    }
    .header-container{
        width: 100%;
        margin-left: 0;
        margin-top: 0;
    }
    .main-1{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 0;
    }
    .main{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
        margin-bottom: 5px;
        justify-content: center;
    }
    .main-body-container{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: 0;
        width: 100%;
    }
    .main-section-image>img{
        width: 100%;
    }
    .main-button{
        color: #FFFFFF;
        background-color: #FF900E;
        width: 100px;
        height: 80px;
        border: none;
        border-radius: 4px;
    }
    .btn-des-1{
        font-weight: 700;
        font-size: 15px;
    }
    .btn-des-2{
        font-weight: 500;
        font-size: 10px; 
    }
    .m-b{
        display: none;
    }
    .some-facts, .down-main-section{
        width: 100%;
        margin-left: 10px;
    }
    .s-f, .footer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 100px;
    }
    .footer>img {
        margin-bottom: 30px;
        margin-left: 100px;
    }
    .features, .main-header-button, .features-title, .main-section, .main-body-description{
        margin-left: 10px;
    }
}